GROQ_API_KEY=
LOG_LEVEL=INFO
SCHEMES_FILE=scheme.json
AUTO_INGEST=true
FORCE_RECREATE_COLLECTION=false
QDRANT_MODE=local
QDRANT_LOCAL_PATH=./qdrant_data
API_BASE_URL=http://127.0.0.1:8000
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
SARVAM_API_KEY=
