easyocr
fastapi
langchain-core
langgraph
llama-index-core
llama-index-embeddings-huggingface
numpy
playwright
pypdf
python-dotenv
python-multipart
qdrant-client
requests
sentence-transformers
twilio
uvicorn
