easyocr
fastapi
groq
langchain-core
langchain-groq
langgraph
llama-index-core
llama-index-embeddings-huggingface
llama-index-llms-groq
numpy
playwright
pypdf
python-dotenv
python-multipart
qdrant-client
requests
sentence-transformers
twilio
uvicorn
